::selection {
  background: $base-selection-bg;
  color: $base-selection-fg;
}

html,
body {
  background-color: $base-bg;
  color: $base-fg;
  font-family: Helvetica Neue, Arial, Helvetica, serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  background: $link-bg;
  color: $link-fg;
}

a:hover {
  cursor: pointer;
}
