@import 'solarized';

$base-bg: $solarized-c-base03;
$base-fg: $solarized-c-base0;
$base-border: $solarized-c-base02;

$link-bg: none;
$link-fg: $solarized-c-blue;

$task-odd-bg: $solarized-c-base02;
